{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h3>{{ topic }} </h3>
  {% if user.username == topic.owner.username %}
    <small><a href="{% url 'learning_logs:edit_topic' topic.id %}">edit</a></small>
  {% endif %}
{% endblock page_header %}

{% block content %}
<p>
  {% if user.username == topic.owner.username %}
  <a href="{% url 'learning_logs:new_entry' topic.id %}">+ Add new entry</a>
  {% endif %}
</p>

{% for entry in entries %}
  <div class="card mb-3">
    <h4 class="card-header">
      {{entry.date_added|date:'M d, Y H:i'}}
      <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">edit</a></small>
      <small><a href="{% url 'learning_logs:delete_entry' entry.id %}">delete</a></small>
    </h4>

    <div class="card-body">
      {{entry.text|linebreaks}}
    </div>
  </div>
  {% empty %}
  <p>There are no entries for this topic yet.</p>
{% endfor %}

{% endblock content %}
